  <!-- <h1>Welcome to the Notes App {{this.getUser().getName()}}</h1>
  </div>
  <div class="menu_buttons">
    <button (click)="this.openNewNoteModal()">New Note</button>
  </div>
  <div *ngIf="this.getUser() && this.getUser().getNotes()">
    <div id="names">
      <ul class="notes">
        <li *ngFor="let note of this.getUser().getNotes()" [class.selected]="note === this.getSelectedNote()"
          (click)="this.onSelect(note)">
          {{note.getName()}}
        </li>
      </ul>
    </div>
    <div class="noteText">
      <textarea *ngIf="this.getSelectedNote()" style="width: 900px; height: 500px; font-size: 16px;"></textarea>
    </div> -->
